# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment and secrets
.env
.env.*

# Local database
*.db
*.sqlite3

# Frontend
node_modules/
dist/

# Editor
.vscode/

frontend/node_modules/
frontend/dist/
frontend/.env